# Maven target directory (compiled classes, jars, etc.)
target/

# Eclipse files
*.classpath
*.project
*.settings/

# IntelliJ IDEA files
*.iml
.idea/
out/

# VS Code files
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db